body {
	box-sizing: border-box; 
	margin: 0;
}
*, ::after, ::before {
	box-sizing: inherit;
	outline: none;
	scroll-behavior: smooth; 
}
.center_block {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px; 
}
img {
	max-width: 100%;
	height: auto; 
}
textarea {
	resize: none; 
}
// header

// header end
// footer
.footer {
    background: #005D88;
    margin-top: 115px;
    @media all and (max-width: 1023px) {
        margin-top: 80px;
    }
    &__in {
        justify-content: space-between;
        display: flex;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__top {
        padding-top: 60px;
        padding-bottom: 34px;
        @media all and (max-width: 1023px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &__l-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 260px;
        width: 100%;
        margin-right: 41px;
        @media all and (max-width: 1023px) {
            max-width: 100%;
            margin-right: 0;
        }
    }
    &__hide {
        @media all and (max-width: 1023px) {
            display: none;
        }
        &.mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &__logo {
        display: inline-block;
        max-width: 200px;
        width: 100%;
        margin-bottom: 20px;
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
        }
    }
    &__lnk {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 29px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        &:hover{ 
            text-decoration: underline;
        }
    }
    &__copy {
        margin-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }
    &__rev {
        max-width: 180px;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__menu {
        width: calc(100% - 611px);
        @media all and (max-width: 1023px) {
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid #fff;
            margin-bottom: 40px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            columns: 2;
            @media all and (max-width: 1023px) {
                columns: 1;
            }
            li {
                a {
                    display: inline-block;
                    text-decoration: none;
                    margin-bottom: 29px;
                    font-family: 'Ubuntu', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    color: #FFFFFF;
                    &:hover{ 
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__info {
        max-width: 270px;
        width: 100%;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media all and (max-width: 1023px) {
            max-width: 100%;
            margin-left: 0;
            border-bottom: 1px solid #fff;
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
    }
    &__address {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 29px;
    }
    &__mail {
        display: inline-block;
        text-decoration: none;
        margin-bottom: 29px;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        &:hover{ 
            text-decoration: underline;
        }
    }
    &__tel {
        display: inline-block;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        &:hover{ 
            text-decoration: underline;
        }
    }
    &__bottom {
        background: #004666;
        padding-top: 30px;
        padding-bottom: 30px;
        @media all and (max-width: 1023px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .footer__in {
            align-items: center;
            @media all and (max-width: 1023px) {
                align-items: flex-start;
            }
        }
    }
    &__link {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
    &__pays {
        display: flex;
        align-items: center;
    }
    &__pay {
        margin-left: 30px;
        max-width: 70px;
        width: 100%;
        text-align: center;
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 19px;
        }
    }
}
// footer end